# Ignorar dependencias instaladas
node_modules/

# Ignorar archivos compilados
dist/

# Ignorar configuración del entorno
.env

# Ignorar logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema (macOS)
.DS_Store

# Ignorar .eslintrc.js
.eslintrc.js


